
<table class="users_table">
	<tr>
		<td>  <%= link_to user.name, user %>
	  <%if current_user==user%>
	  <span>(you)</span>
	  
	  <%end%>
		</td>

		<%if current_user!=user%>
		<td class="invite_button">
			<%=form_for(@invitation) do |f|%>
			<%=f.hidden_field :to_user_id,:value => user.id%>
			<%=f.submit "invite for chat",{:class=> "btn btn-primary"}%>
			<%end%>
	  </td>
	  <td class="multi_check">
	  	<input type="checkbox" name="checkme" value="valuecheck" >
	  </td>
	  <%end%>

	  <td>    
	  <% if current_user.admin? && !current_user?(user)%>
	    | <%= link_to "delete", user, method: :delete,
	                                  data: { confirm: "You sure?" } %>                                                            
	  <% end %>
	  </td>  
  </tr>
</table>
